body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

.function-container {
  padding: 6px;
  margin: 5px;
  border: none;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.function-container input[type="text"] {
  width: 90%;
  padding: 6px;
  margin: 10px;
  border: none;
  font-size: 17px;
}

.buttonRow {
  padding: 6px;
  margin: 10px;
  border: none;
}

button {
  border: none;
  padding: 12px;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.roleButton-bulky {
  background-color: blue;
}

.roleButton-setup {
  background-color: red;
}

.roleButton-support {
  background-color: green;
}

.roleButton-offense {
  background-color: orange;
}

.table-container {
  max-height: 700px;
  overflow-y: auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  position: sticky;
  top: 0;
  background: #2c3e50;
  color: white;
  padding: 12px;
  text-align: left;
  z-index: 10;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  white-space: nowrap;
}

tr:hover {
  background-color: #f1f1f1;
}

.type-pill {
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 4px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.tera-pill {
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 4px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.normal {
  background-color: #a8a878;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.electric {
  background-color: #f8d030;
}
.grass {
  background-color: #78c850;
}
.ice {
  background-color: #98d8d8;
}
.fighting {
  background-color: #c03028;
}
.poison {
  background-color:#a040a0;
}
.ground {
  background-color: #e0c068;
}
.flying {
  background-color: #a890f0;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a8b820;
}
.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #705898;
}
.dragon {
  background-color: #7038f8;
}
.dark {
  background-color: #705848;
}
.steel {
  background-color: #b8b8d0;
}
.fairy {
  background-color: #ee99ee;
}

.pokemon-pill {
  color: black;
  font-size: medium;
  font-weight: bold;
}