body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

.function-container {
    padding: 6px;
  margin: 5px;
  border: none;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.function-container input[type="text"] {
  width: 90%;
  padding: 6px;
  margin: 10px;
  border: none;
  font-size: 17px;
}

.buttonRow {
  padding: 6px;
  margin: 10px;
  border: none;
}

button {
  border: none;
  padding: 12px;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.roleButton-bulky {
  background-color: blue;
}

.roleButton-setup {
  background-color: red;
}

.roleButton-support {
  background-color: green;
}

.roleButton-offense {
  background-color: orange;
}

.table-container {
  max-height: 700px;
  overflow-y: auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  position: sticky;
  top: 0;
  background: #2c3e50;
  color: white;
  padding: 12px;
  text-align: left;
  z-index: 10;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

tr:hover {
  background-color: #f1f1f1;
}
